.nav-item {
  padding-left: 25px;
}
.jumbotron {
  display: grid;
  width: 100%;
  background-color: #ffffff;
}
.display-4 {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.lead {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
img {
  width: 400px;
  height: 400px;
}
.btn-primary {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}
