* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: rgb(29, 29, 29, 1);
}

.logo {
  cursor: pointer;
  width: 150px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid transparent;
}
.nav_links li a:hover {
  border-color: rgb(255, 255, 255);
}

button.buttonNav {
  padding: 8px 25px;
  background-color: rgb(29, 29, 29, 1);
  color: rgb(245, 245, 245);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button.buttonNav:hover {
  background-color: rgb(35, 105, 236, 1);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  max-width: 68.75rem;
  margin: auto;
  height: 80vh;
}
.hero img {
  height: 30rem;
  width: 30rem;
}

.heroImg {
  border: none;
  border-radius: 5px;
}

.bio {
  width: 37rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
  padding-bottom: 5px;
}

.bio p {
  padding-bottom: 30px;
}
.bio-title {
  font-family: "Montserrat", sans-serif;
  font-style: medium;
  font-weight: 700;
  font-size: 24px;
}
span {
  font-family: "Montserrat", sans-serif;
  font-style: medium;
  font-weight: 700;
  font-size: 32px;
  color: #2369eccc;
}

.bio-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
button.bioButton {
  background-color: rgb(29, 29, 29, 1);
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 50%;
  left: 25%;
}
button.bioButton:hover {
  background-color: rgb(35, 105, 236, 0.8);
}
.sectionHeader {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: medium;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 50px;
}
.skillSection {
  display: flex;
}
.skillText {
  text-align: right;
  width: 40%;
  gap: 50px;
  max-width: 68.75rem;
  margin: auto;
  padding: 50px;
  max-width: 600px;
}
img.skillLogo {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skillContainer {
  margin: 20px auto;
  width: 200px;
  height: 250px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 40vh;
}
h2.skillExplain {
  font-family: "Montserrat", sans-serif;
  font-style: medium;
  font-weight: 700;
  font-size: 16px;
}
.skillBody {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.projectBio {
  width: 40%;
  gap: 50px;
  max-width: 68.75rem;
  padding-bottom: 10px;
}
img.projectThumbnail {
  width: 500px;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.workText {
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 68.75rem;
  margin: auto;
  height: 40vh;
  padding-top: 75px;
}
.projectThumbnail {
  margin-right: 15%;
}
.containerWork {
  text-align: left;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
}
.projectButton {
  background-color: rgb(29, 29, 29, 1);
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
}
.projectName {
  font-family: "Montserrat", sans-serif;
  font-style: medium;
  font-weight: 700;
  font-size: 24px;
}
.projectBio {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
